main {
  min-height: 80vh;
  font-family: Arial, Helvetica, sans-serif;
}

#admin {
  color: black;
}

Table {
  overflow: hidden;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* carousel */
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  /* padding: 10px; */
  /* box-sizing: border-box; */
}

.carousel-caption h3 {
  color: #fff;
}

.carousel img {
  /* height: 300px; */
  max-height: 400px;
  padding: 40px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.carousel a {
  margin: 0 auto;
}
.carousel {
  text-align: center;
}

@media (max-width: 900px) {
  .carousel-caption h3 {
    font-size: 2.5vw;
  }
}

/* .img {
  width: 100px;
  height: 100px;
} */

.dropdown-menu.show {
  margin: 0;
  border-radius: 5%;
}
.dropdown-menu.show :hover {
  color: orange;
}
.dropdown-toggle {
  /* border: white solid 2px; */
  /* margin-left: none; */
}
#dropdown-item-button {
  background: none;
  font-size: large;
  color: black;
}
@media (min-width: 990px) {
  .dropdown-control {
    display: none;
  }
}
@media (max-width: 990px) {
  #navbar-control {
    display: none;
  }
}

i:hover {
  cursor: pointer;
}

#username {
  color: black;
}

/* .control:hover .div-control {
  transform: translateY(15px);
}

.div-control {
  transition: 1s;
} */
